<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCMBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SCMBot.Properties.Settings>
            <setting name="lastLogin" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="loginOnstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="delayVal" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="lastPass" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hideInvent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="numThreads" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="InvType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minOnClose" serializeAs="String">
                <value>True</value>
            </setting>
        </SCMBot.Properties.Settings>
    </userSettings>
</configuration>